.pay-body{
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    background-color: #EEE;
}
.pay-title{
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgb(190, 190, 190);
    height: 10%;
}
.method-title{
    margin: 2% 0%;
    font-size: 22px;
    font-weight: 500;
}
.pay-content{
    margin-top: 2%;
}
.method-pay{
    border: 1px solid rgb(197, 197, 197);
    width: 56%;
    margin-right: 2%;
    max-height: 450px;
}
.method-table{
    margin: 2% 3%;
    width: 96%;
}

.table-title{
    width:20%;
    margin-bottom: 5px;
    font-size: 18px;
}
.table-input{
    width:70%;
    margin-bottom: 5px;
}
.method-row{
    height: 50px;
}
.method-choice{
    width: 100%;
}
.input-note{
    resize: none;
}
.method-button{
    border-top: 0.5px solid rgb(190, 190, 190);
    padding-top: 2%;
    width: 96%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
}
.method-btn-pay{
    width: 150px;
    height: 35px;
    font-size: 18px;
    border: none;
    background-color: orange;
    color: white;
}
.info-delivery,.info-order{
    width: 100%;
    padding: 2%;
    border: 1px solid rgb(197, 197, 197);
    margin-bottom: 2%;
}
.address-title,.order-title{
    width: 98%;
    margin-left: 1%;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 3px solid rgb(223, 223, 223);
    margin-bottom: 2%;
}
.input-info-name,.input-info-phone,.input-info-address{
    height: 30px;
}
.order-table-row{
    height: 35px;
    border-bottom: 1px solid rgb(223, 223, 223);
}
.order-name{
    width: 200px;
}
.order-text{
    font-size: 12px;
}
.order-price-text
{
    font-weight: bold;
}
.order-price-number{
    color: red;
    font-weight: bold;
}
.pay-link{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.pay-link:hover{
    color: orange;
}
.account-btn-log {
    text-decoration: none;
   padding-top: 0.5%;
}
.account-btn-log:hover {
    color: white;
}